<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uwi.loanhub">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/ActionBarMaterialComponent">
        <activity android:name=".Dashboard"
            android:theme="@style/NoActionBarMaterialComponent"
            android:windowSoftInputMode="adjustResize">

        </activity>
        <activity
            android:name=".CompareLoans"
            android:theme="@style/NoActionBarMaterialComponent"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name=".TermsOfUse"
            android:theme="@style/NoActionBarMaterialComponent"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name=".PrivacyPolicy"
            android:theme="@style/NoActionBarMaterialComponent"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name=".InstitutionActivity"
            android:theme="@style/NoActionBarMaterialComponent"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".LoanInterest"
            android:exported="true"
            android:theme="@style/NoActionBarMaterialComponent"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".RequirementActivity"
            android:theme="@style/NoActionBarMaterialComponent"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".LoanInDetail"
            android:theme="@style/NoActionBarMaterialComponent"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".LoansSpecificToUser"
            android:theme="@style/NoActionBarMaterialComponent"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".UserLoansActivity"
            android:theme="@style/NoActionBarMaterialComponent"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".LoginActivityNew"
            android:theme="@style/NoActionBarMaterialComponent" />
        <activity android:name=".LoanDetails" />
        <activity
            android:name=".login_activity"
            android:theme="@style/NoActionBarVanilla"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SignupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarMaterialComponent"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".AllLoan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Start_Up_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarVanilla"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>